#card-custom {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
    /* offset-x | offset-y | blur-radius | color */
  box-shadow: 2px 4px 8px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 16px;
  background-color: #562a2a;
  display: block;
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#card-custom:hover {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
  cursor: pointer;
  border: 1px solid rgb(255, 0, 0);
}

#card-custom:hover > #card-header {
  background-image: linear-gradient(
    to left top,
    #380000,
    #4a0004,
    #5c0006,
    #6f0004,
    #810000
  );
  border: 1px solid rgb(159, 62, 62);
}

/* https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */
#card-custom:hover > #card-body-custom {
  background-image: linear-gradient(
    to left top,
    #420a0a,
    #4b0809,
    #540606,
    #5d0304,
    #660000
  );
}

#card-custom:hover > #img-custom {
  border: 3px solid #830000;
}

#card-body-custom {
  border-top: 1px solid rgb(120, 82, 82);
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-radius: 16px;
  background-image: linear-gradient(
    to left top,
    #2f0707,
    #370607,
    #3f0405,
    #460203,
    #4e0000
  );
  max-width: 320px;
}

#img-custom {
  border: 3px solid #2c0000;
  box-shadow: 1px 1px 4px black;
  color: linear-gradient(
    to left bottom,
    #4e2020,
    #522424,
    #552929,
    #592d2d,
    #5c3232
  );
  background-image: linear-gradient(
    to left bottom,
    #4e2020,
    #522424,
    #552929,
    #592d2d,
    #5c3232
  );
  border-radius: 16px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#caption {
  color: rgb(238, 238, 238);
}

#search-bar {
  margin-bottom: 2rem;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

#search-button {
  background-image: linear-gradient(
    to left top,
    #2f0707,
    #370607,
    #3f0405,
    #460203,
    #4e0000
  );
  border-radius: 32px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px 0px 12px rgb(164, 0, 0);
  min-width: 6rem;
  color: rgb(210, 210, 210);
  border: 1px solid rgb(155, 60, 60);
  border-left: 0;
}

#search-button:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to left top,
    #420a0a,
    #4b0809,
    #540606,
    #5d0304,
    #660000
  );
}

#search-input {
  border: 1px solid rgb(155, 60, 60);
  border-radius: 32px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 0px 12px rgb(164, 0, 0);
  background-color: #210e0e;
  color: #ffffff;
  outline: none;
  padding: 1rem;
}

#search-input:focus {
  background-color: #310000;
  outline: 0;
}

#search-input::placeholder {
  color: #ffffff3e;
}

#container-custom {
  margin-left: 5rem;
  margin-right: auto;
  min-width: fit-content;
}

#end-marker-para {
  text-align: center;
}

#game-card-list-div {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#row-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#infinite-scroll {
  margin: auto;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#card-header {
  border: 1px solid rgba(159, 62, 62, 0);
  color: rgba(210, 210, 210, 1);
  font-size: 1.24rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

#header-div {
  max-width: 280px;
}

@media (max-width: 768px) {
  #search-bar {
    margin-top: 2rem;
  }
  #container-custom {
    margin: auto;
  }
}
