.App {
  text-align: center;
  background-image: linear-gradient(to left bottom, #3a1e1e, #331818, #2c1213, #260b0a, #210000);
  background-image: linear-gradient(to left bottom, #3b1616, #341212, #2d0e0d, #270807, #220000);
  background-image: linear-gradient(to left bottom, #210e0e, #250b0b, #280707, #2b0404, #2e0000);
  background-image: linear-gradient(to left top, #130808, #1a0606, #1f0404, #240202, #280000);
  background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
